$textActive: #00d9a6;
$textPrimary: #555555;
$textLight: #f9f9f9;


$bgPrimary: #f9f9f9;
// $bgLight: #fff;
$bgSecondary: #3d3d3d;


$gradientGreen: linear-gradient(45deg, rgba(151,225,95,1) 0%, rgba(1,217,165,1) 100%);